[worldserver]

###################################################################################################
#	Account Achievements module
###################################################################################################

# 启用这个模块吗? (1: true | 0: false)

Account.Achievements.Enable = 1

# 当玩家登录时宣布模块？

Account.Achievements.Announce = 1
